/* shared */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    padding: 12.5px 16px;
    font-size: 16;
    font-weight: 600;
    border-radius: 30px;
}

/* main */
.navbar{
    background-color: #1A0B2E;
    color: white;
    display: flex;
    height: 92px;
    justify-content: space-around;
    align-items: center;
}
.navbar .logo{
    height: 32px;
    line-height: 32px;
    font-size: 32px;
    font-weight: 700;
}
.navbar .list ul {
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
}